{{#each content}}
  {{#each groups}}
    <p>GROUP:</p>
    <ul>
      <li>
        <label id="group-label" for="group-name">name:</label>
        <input type="text" id="group-name" name="name" value="{{this.name}}" />
      </li>
      <li>
        <label id="group-label" for="group-category">category:</label>
        <input type="button" id="group-category" name="category" value="{{this.category}}" />
      </li>
      <li>
        <label id="group-label" for="group-domain">domain:</label>
        <input type="text" id="group-domain" name="domain" value="{{this.domain}}" />
      </li>
      <li>OBSERVERS:</li>
      {{#each observers}}
        <ul>
          <li>PATH: {{this.path}}</li>
          <li>TARGET: {{this.target}}</li>
          <li>HISTORY: {{this.history}}</li>
          <li>CONTAINER: {{this.container}}</li>
          {{> component name="title" component=this.title }}
          {{> component name="image" component=this.image }}
          {{> component name="price" component=this.price }}
        </ul>
      {{/each}}
    </ul>
  {{/each}}
{{/each}}