{{#each content}}
  {{#each groups}}
    {{> test }}
    <p>GROUP:</p>
    <ul>
      <li>
        <label id="group-label" for="group-name">name:</label>
        <input type="text" id="group-name" name="name" value="{{this.name}}" />
      </li>
      <li>
        <label id="group-label" for="group-category">category:</label>
        <input type="button" id="group-category" name="category" value="{{this.category}}" />
      </li>
      <li>
        <label id="group-label" for="group-domain">domain:</label>
        <input type="text" id="group-domain" name="domain" value="{{this.domain}}" />
      </li>
      <li>OBSERVERS:</li>
      {{#each observers}}
        <ul>
          <li>PATH: {{this.path}}</li>
          <li>TARGET: {{this.target}}</li>
          <li>HISTORY: {{this.history}}</li>
          <li>CONTAINER: {{this.container}}</li>
          <li>TITLE:</li>
          <ul>
            <li>SELECTOR: {{this.title.selector}}</li>
            <li>ATTRIBUTE: {{this.title.attribute}}</li>
            <li>AUXILIARY: {{this.title.auxiliary}}</li>
          </ul>
          <li>IMAGE:</li>
          <ul>
            <li>SELECTOR: {{this.image.selector}}</li>
            <li>ATTRIBUTE: {{this.image.attribute}}</li>
            <li>AUXILIARY: {{this.image.auxiliary}}</li>
          </ul>
          <li>PRICE:</li>
          <ul>
            <li>SELECTOR: {{this.price.selector}}</li>
            <li>ATTRIBUTE: {{this.price.attribute}}</li>
            <li>AUXILIARY: {{this.price.auxiliary}}</li>
          </ul>
        </ul>
      {{/each}}
    </ul>
  {{/each}}
{{/each}}