<li>{{name}}:</li>
<ul>
  <li>
    <label id="component-label" for="component-selector">selector:</label>
    <input type="text" id="component-selector" name="selector" value="{{component.selector}}" />
  </li>
  <li>
    <label id="component-label" for="component-attribute">attribute:</label>
    <input type="text" id="component-attribute" name="attribute" value="{{component.attribute}}" />
  </li>
  <li>
    {{#if (eq name "price")}}
      <label id="component-label" for="component-auxiliary">auxiliary:</label>
      <select id="component-auxiliary" name="auxiliary" required>
        <option value="" disabled selected hidden>Choose a currency</option>
        <option value="PLN" {{#if (eq component.auxiliary "PLN")}}selected{{/if}}>PLN</option>
        <option value="GBP" {{#if (eq component.auxiliary "GBP")}}selected{{/if}}>GBP</option>
        <option value="USD" {{#if (eq component.auxiliary "USD")}}selected{{/if}}>USD</option>
        <option value="EUR" {{#if (eq component.auxiliary "EUR")}}selected{{/if}}>EUR</option>
      </select>
    {{else}}
      <label id="component-label" for="component-auxiliary">auxiliary:</label>
      <input type="text" id="component-auxiliary" name="auxiliary" value="{{component.auxiliary}}" />
    {{/if}}
  </li>
</ul>