<div class="observer-content">
  <div class="modal-dialog">
    <div class="modal-background">
      <div class="modal-content">
        <div class="observer-root-data">
          {{> widget type="text" parent="observer" label="path" value=observer.path }}
          {{> widget type="text" parent="observer" label="container" value=observer.container }}
          {{> widget type="combo" parent="observer" label="target" options="load|domcontentloaded|networkidle0|networkidle2" value=observer.target }}
          {{> widget type="combo" parent="observer" label="history" options="off|onChange|on" value=observer.history }}
        </div>
        <div class="cards">
          <div class="card" active>
            <div class="card__infos">
              <h3 class="card__name">title</h3>
              <p class="card__author">
                {{> component name="title" component=observer.title }}
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card__infos">
              <h3 class="card__name">image</h3>
              <p class="card__author">
                {{> component name="image" component=observer.image }}
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card__infos">
              <h3 class="card__name">price</h3>
              <p class="card__author">
                {{> component name="price" component=observer.price }}
              </p>
            </div>
          </div>
        </div>
        <div class="observer-buttons">
          {{#if (eq observer undefined)}}
            <div class="modal-close-btn accept" onclick="addObserver('{{parent.name}}')">ok</div>
          {{else}}
            <div class="modal-close-btn accept" onclick="updateObserver('{{observer.path}}', '{{parent.name}}')">ok</div>
          {{/if}}
          <div class="modal-close-btn cancel">cancel</div>
        </div>
      </div>
    </div>
  </div>
  {{#if (eq observer undefined)}}
    <div class="modal-button new-observer">+</div>
  {{else}}
    <div class="modal-button">{{observer.path}}</div>
  {{/if}}
</div>