<div class="observer-content">
  <div class="modal-dialog hidden">
    <div class="modal-background">
      <div class="modal-content">
        <div class="observer-root-data">
          <h3 class="observer-data-title">base config</h3>
          <div class="observer-data-row1">
            {{#if (eq observer undefined)}}
              {{> widget type="text" parent="observer" label="name" value=observer.name classes=" fill" id=true }}
            {{else}}
              {{> widget type="text" parent="observer" label="name" value=observer.name classes=" fill" disable=true }}
            {{/if}}
            {{> widget type="combo" parent="observer" label="target" options="load|domcontentloaded|networkidle0|networkidle2" value=observer.target }}
            {{> widget type="combo" parent="observer" label="history" options="off|onChange|on" value=observer.history }}
          </div>
          <div class="observer-data-row2">
            {{> widget type="text" parent="observer" label="path" value=observer.path classes=" fill" }}
            {{> widget type="text" parent="observer" label="container" value=observer.container classes=" fill" }}
          </div>
        </div>
        <div class="component-cards">
          {{> component name="title" component=observer.title activate=true }}
          {{> component name="image" component=observer.image }}
          {{> component name="price" component=observer.price }}
        </div>
        <div class="observer-buttons">
          {{#if (eq observer undefined)}}
            <div class="modal-close-btn accept" onclick="addObserver('{{parent.domain}}')">ok</div>
          {{else}}
            <div class="modal-close-btn accept" onclick="updateObserver('{{observer.name}}')">ok</div>
          {{/if}}
          <div class="modal-close-btn cancel">cancel</div>
        </div>
      </div>
    </div>
  </div>
  {{#if (eq observer undefined)}}
    <div class="modal-button new-observer">+</div>
  {{else}}
    <div class="modal-button">{{observer.name}}</div>
  {{/if}}
</div>