<div class="widget">
  <label class="{{parent}}-label">
    {{label}}:
  </label>
  {{#if (eq type "combo")}}
    <select class="{{parent}}-{{label}}" name="{{label}}" required>
      <option value="" disabled selected hidden>Select value</option>
      {{#each (split options "|")}}
        <option value={{this}} {{#if (eq ../value this)}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </select>
  {{else}}
    <input type="{{type}}" class="{{parent}}-{{label}}" name="{{label}}" value="{{value}}" />
  {{/if}}
</div>