<div class="widget{{classes}}">
  {{#if (unlessEq label undefined)}}
    <label class="{{parent}}-label">{{label}}:</label>
  {{/if}}
  {{#if id}}<div class="id"></div>{{/if}}
  {{#if (eq type "combo")}}
    <select class="{{parent}}-{{label}}" name="{{label}}" required {{#if disable}}disabled{{/if}}>
      <option value="" disabled selected hidden>Select value</option>
      {{#each (split options "|")}}
        <option value={{this}} {{#if (eq ../value this)}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </select>
  {{else if (eq type "matrix")}}
    <dialog class="{{parent}}-matrix">
      <form method="dialog">
        {{#each (split options "|")}}
          <button value="{{this}}">{{this}}</button>
        {{/each}}
      </form>
    </dialog>
  {{else}}
    <input type="{{type}}" class="{{parent}}-{{label}}" name="{{label}}" value="{{value}}" {{#if disable}}disabled{{/if}}/>
  {{/if}}
</div>